<div class="collapser">
	<div class="collapser__title">Click the Box Title to Expand and Collapse</div>
	<div class="collapser__body">Long maintaining an enchanted silence, Ahab stood apart; and every time the tetering ship loweringly pitched down her bowsprit, he turned to eye the bright sun's rays produced ahead; and when she profoundly settled by the stern, he turned behind, and saw the sun's rearward place, and how the same yellow rays were blending with his undeviating wake.</div>
</div>
