.collapser {
	border-width: 1px;
	border-style: solid;
}
.collapser__title {
	background: lightgray;
}
// use the following declaration if you'd like the box closed by default
.collapser__body {
	display: none;
}
